/gradlew.bat                                 binary
/gradlew                                     binary
/gradle/wrapper/gradle-wrapper.jar           binary
/gradle/wrapper/gradle-wrapper.properties    binary
